<a href="https://colab.research.google.com/github/anaconda121/Deep-Learning/blob/main/Preprocessing/Mini_Project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import pandas as pd
import seaborn as sns
import math

In [4]:
sns.set()

In [5]:
data_raw = pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/NFLRush.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data_raw.head()

       GameId          PlayId  Team  ...  Humidity  WindSpeed  WindDirection
0  2017090700  20170907000118  away  ...      77.0        8.0             SW
1  2017090700  20170907000118  away  ...      77.0        8.0             SW
2  2017090700  20170907000118  away  ...      77.0        8.0             SW
3  2017090700  20170907000118  away  ...      77.0        8.0             SW
4  2017090700  20170907000118  away  ...      77.0        8.0             SW

[5 rows x 49 columns]

In [7]:
data_raw.shape

(509762, 49)

In [8]:
data_raw.columns

Index(['GameId', 'PlayId', 'Team', 'X', 'Y', 'S', 'A', 'Dis', 'Orientation',
       'Dir', 'NflId', 'DisplayName', 'JerseyNumber', 'Season', 'YardLine',
       'Quarter', 'GameClock', 'PossessionTeam', 'Down', 'Distance',
       'FieldPosition', 'HomeScoreBeforePlay', 'VisitorScoreBeforePlay',
       'NflIdRusher', 'OffenseFormation', 'OffensePersonnel',
       'DefendersInTheBox', 'DefensePersonnel', 'PlayDirection', 'TimeHandoff',
       'TimeSnap', 'Yards', 'PlayerHeight', 'PlayerWeight', 'PlayerBirthDate',
       'PlayerCollegeName', 'Position', 'HomeTeamAbbr', 'VisitorTeamAbbr',
       'Week', 'Stadium', 'Location', 'StadiumType', 'Turf', 'GameWeather',
       'Temperature', 'Humidity', 'WindSpeed', 'WindDirection'],
      dtype='object')

In [9]:
data_raw["Yards"]

0          8
1          8
2          8
3          8
4          8
          ..
509757    11
509758    11
509759    11
509760    11
509761    11
Name: Yards, Length: 509762, dtype: int64

In [10]:
len(data_raw[data_raw["PlayId"] == 20181115001638])

22

In [11]:
specific_play = data_raw[data_raw["PlayId"] == 20181115001638]

In [12]:
"""
1. The features YardLine, Quarter, and PossessionTeam among others tell us important information about this play.
2. The features DisplayName, JerseyNumber, and Dir among others tell us information about each player on the field.
"""

'\n1. The features YardLine, Quarter, and PossessionTeam among others tell us important information about this play.\n2. The features DisplayName, JerseyNumber, and Dir among others tell us information about each player on the field.\n'

In [13]:
three_players_box = data_raw[data_raw["DefendersInTheBox"] == 3]

In [14]:
len(three_players_box), len(three_players_box["PlayId"].unique()), len(three_players_box) / len(data_raw)

(396, 18, 0.0007768331103534591)

In [15]:
"""
We know that there are 22 players per play, and 396 players showed up in our query, therefore 396 / 22 = 18 unique plays should show up.
Approx. 0.00077% of plays have three players in the box, therefore it is quite uncommon. 
"""

'\nWe know that there are 22 players per play, and 396 players showed up in our query, therefore 396 / 22 = 18 unique plays should show up.\nApprox. 0.00077% of plays have three players in the box, therefore it is quite uncommon. \n'

In [16]:
michael_thomas = data_raw[data_raw["DisplayName"] == "Michael Thomas"]
len(michael_thomas["GameId"].unique()) # people with the name Michael Thomas played 50 NFL games

50

In [17]:
michael_thomas_players = michael_thomas["NflId"].unique()
michael_thomas_players # there are 2 michael thomas's in the dataset!

array([2556370, 2535687])

In [18]:
mt1 = michael_thomas[michael_thomas["NflId"] == michael_thomas_players[0]]
mt2 = michael_thomas[michael_thomas["NflId"] == michael_thomas_players[1]]

len(mt1["GameId"].unique()), len(mt2["GameId"].unique())

# since 32 + 19 = 51, it appears like both of them must have played in the same game!

(32, 19)

In [19]:
mt2 = michael_thomas[michael_thomas["NflId"] == michael_thomas_players[1]]
len(mt2["GameId"].unique())

19

In [20]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild'],
          ['Bob', 'Joe', 'Riya', 'Emily']]

index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type', 'Name'))

df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
        index=index)

df

                      Max Speed
Animal Type    Name
Falcon Captive Bob        390.0
       Wild    Joe        350.0
Parrot Captive Riya        30.0
       Wild    Emily       20.0

In [47]:
print(data_raw[data_raw["DisplayName"] == "Michael Thomas"].groupby(["NflId", "GameId"])["PlayId"].count())

NflId    GameId
2535687  2017092408    13
         2017100100     4
         2017102600    28
         2017110510    23
         2017112604    13
         2018090907     2
         2018092303     8
         2018100701     2
         2018101100     1
         2018102200     3
         2018102806     2
         2018111200    11
         2018111805     4
         2018112506    13
         2018120207    14
         2018120908    15
         2018121608    38
         2018122300    14
         2018123008    18
2556370  2017091100    19
         2017091705    11
         2017092402    18
         2017100100    21
         2017101504    25
         2017102203    22
         2017102904    17
         2017110503    21
         2017111200    28
         2017111905    12
         2017112607     8
         2017120307    16
         2017120700    10
         2017121705    23
         2017122405    16
         2017123110    21
         2018090906    13
         2018091603    18
         2018092300    21
         2018093011    25
         2018100800    14
         2018102101    29
         2018102811    26
         2018110409    25
         2018111101    21
         2018111809    22
         2018112202    24
         2018112900    18
         2018120907    25
         2018121700    27
         2018122313    13
         2018123007    12
Name: PlayId, dtype: int64

In [48]:
data_raw.columns

Index(['GameId', 'PlayId', 'Team', 'X', 'Y', 'S', 'A', 'Dis', 'Orientation',
       'Dir', 'NflId', 'DisplayName', 'JerseyNumber', 'Season', 'YardLine',
       'Quarter', 'GameClock', 'PossessionTeam', 'Down', 'Distance',
       'FieldPosition', 'HomeScoreBeforePlay', 'VisitorScoreBeforePlay',
       'NflIdRusher', 'OffenseFormation', 'OffensePersonnel',
       'DefendersInTheBox', 'DefensePersonnel', 'PlayDirection', 'TimeHandoff',
       'TimeSnap', 'Yards', 'PlayerHeight', 'PlayerWeight', 'PlayerBirthDate',
       'PlayerCollegeName', 'Position', 'HomeTeamAbbr', 'VisitorTeamAbbr',
       'Week', 'Stadium', 'Location', 'StadiumType', 'Turf', 'GameWeather',
       'Temperature', 'Humidity', 'WindSpeed', 'WindDirection'],
      dtype='object')

In [52]:
data_raw.groupby(["Stadium", "Season"])["PlayId"].count()

Stadium                        Season
AT&T Stadium                   2017      8448
                               2018      7502
Arrowhead Stadium              2017      7370
                               2018      7964
Bank of America Stadium        2017      7128
                                         ...
U.S. Bank Stadium              2017      8316
                               2018      7854
University of Phoenix Stadium  2017      7612
Wembley Stadium                2017      2002
                               2018      2574
Name: PlayId, Length: 88, dtype: int64

In [53]:
data_raw["WindDirection"].unique()

array(['SW', 'NNE', 'SE', 'East', nan, 'NE', 'North', 'S', 'Northwest',
       'SouthWest', 'ENE', 'ESE', 'SSW', 'NW', 'Northeast', 'From S', 'W',
       'South', 'West-Southwest', 'E', '13', 'N', 'NNW',
       'South Southeast', 'SSE', 'West', 'WSW', 'From SW', 'WNW', 's',
       'NorthEast', 'from W', 'W-NW', 'South Southwest', 'Southeast',
       'From WSW', 'West Northwest', 'Calm', 'From SSE', 'From W',
       'East North East', 'From ESE', 'EAST', 'East Southeast',
       'From SSW', '8', 'North East', 'Southwest', 'North/Northwest',
       'From NNE', '1', 'N-NE', 'W-SW', 'From NNW'], dtype=object)